.navbar {
    background-color: #1a1a1a !important;
    color: white !important;  
}

.navbarTitle{
    color: white;
    font-family: sans-serif;
    font-weight: bold ;
    font-size: 1.5rem ;
}
.aboutStyle{
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 1px;
    border-bottom: 3px solid white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 5%;
}
.workStyle{
    color: white;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 1rem;
}
.workStyle:hover{
    border-bottom: 3px solid white;
    border-radius: 3px;
    cursor: pointer;
}
.connectStyle{
    color: white;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 1rem;
}
.emailStyle{
    border-radius: 50px;
    width: 16rem;
    font-size: 18px;
}
.nav1{
    margin-right: auto;
    margin-left: 5%;
}
.nav2{
    margin-left: auto;
}